$color-white: white

div
	.aticle-paragraph
		line-spacing: 2em
		color: $color-white
		bg: blue
	.article-img
		object-fit: cover
		color: $color-blue

	.backgound
		color:$blue


	.bg 
		 background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

		 height: 100%;

		 background-position: center;
		 background-repeat: no-repeat;
		 background-size: cover;
		}